<footer class="my-footer sticky-footer">
    <p>
        &copy; Electoral Commission
        <script>
            document.write(new Date().getFullYear())
        </script> - Pax Choir KNUST | Developed by Pax Choir I.T Committee
    </p>
</footer>