<header class="header">
    <h1>Pax Choir KNUST Elections
        <script>
            document.write(new Date().getFullYear())
        </script>
    </h1>
    <p class="h5">
        <%=position%>
    </p>
    </div>
</header>