<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Electoral Commission
                <script>
                    document.write(new Date().getFullYear())
                </script> - Pax Choir KNUST</div>
            <div>
                <p class="d-none d-md-block  text-muted">Developed by Pax Choir I.T Committee</p>
            </div>
        </div>
    </div>
</footer>